@use 'sass:math';

$fontMain: 'Montserrat', sans-serif;
$fontSecondary: 'Lato', sans-serif;

$black: #000000;
$primary: #8d81ac;
$primary-dark: #635c73;
$white: #ffffff;
$gray-dark: #323232;
$gray-light: #848e97;

$containerWidth: 1200;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

body {
  &.locked {
    overflow: hidden;
  }
  font-family: $fontMain;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

//reset
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

//header
nav {
  background-color: $black;
  overflow: hidden;

  @media (max-width: 1024px) {
    background-color: #27262a;
  }
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 41px;
  padding-bottom: 41px;

  @media (max-width: 1024px) {
    flex-wrap: wrap;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.logo {
  @media (max-width: 1024px) {
    order: 1;
  }
  a {
    font-family: $fontSecondary;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    text-transform: uppercase;
    color: $primary;
    position: relative;
    padding-left: 50px;
    transition: 0.3s ease;

    &::before {
      content: '';
      position: absolute;
      top: -6px;
      left: 0;
      width: 42px;
      height: 42px;
      background-image: url(../img/logo-primary.png);
      background-repeat: no-repeat;
      background-size: contain;
      transition: 0.3s ease;
    }

    &:hover {
      color: $white;

      &::before {
        background-image: url(../img/logo-white.png);
      }
    }
  }
  span {
    @media (max-width: 576px) {
      display: none;
    }
  }
}

.menu {
  display: flex;
  margin: 0 48px 0 auto;
  gap: 48px;
  @media (max-width: 1024px) {
    order: 3;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    justify-content: center;
  }

  &__item-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    color: $primary;
    transition: 0.3s ease;
    &:hover {
      color: $white;
    }
  }
}

.buy-btn {
  font-size: 16px;
  line-height: 17px;
  padding: 11px 20px;
  @media (max-width: 1024px) {
    order: 2;
  }
}

.burger {
  display: none;
  cursor: pointer;
}

// Burger menu styles
@media screen and (max-width: 576px) {
  // .menu
  .menu {
    position: fixed;
    background: #333333;
    display: none;
    gap: 0;
    padding: 0;

    &.active {
      display: flex;
      left: 4%;
      right: 4%;
      top: 87px;
      width: 92%;
      flex-direction: column;
      z-index: 22;
      animation: fade 0.1s linear;
    }

    &__item {
      border-bottom: 3px solid #3b3b3b;
      padding: 29px 40px;
      position: relative;
      &:before {
        content: '';
        height: 0px;
        transition: 0.3s ease;
      }
      &.active .menu__item-link,
      &:active .menu__item-link,
      &:focus .menu__item-link,
      &:hover .menu__item-link{

        color: #8d81ac;

        &:before {
          content: '';
          position: absolute;
          width: 8px;
          height: 53px;
          left: 3px;
          top: 17px;
          background: #8d81ac;
        }
      }
    }

    &__item-link {
      font-weight: 400;
      font-size: 26px;
      line-height: 26px;
      color: #ffffff;
    }
  }

  // .burger
  .burger {
    display: block;
    position: relative;
    height: 21px;
    width: 26px;
    z-index: 102;
    cursor: pointer;
    order: 3;

    &.active-burger {
      &:before {
        background: $white;
        transform: rotate(45deg);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        top: 8px;
        width: 100%;
      }

      &:after {
        background: $white;
        transform: rotate(-45deg);
        bottom: 10px;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }

      & span {
        transform: scale(0);
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 3px;
      width: 100%;
      background: $white;
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      border-radius: 5px;
    }

    &:before {
      top: 0;
      width: 15px;
      right: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      position: absolute;
      top: 9px;
      right: 0;
      width: 100%;
      background: $white;
      height: 3px;
      transform: scale(1);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      border-radius: 5px;
    }
  }

  .menu__item-link {
    color: $white;
  }
}

//hero
.hero {
  &-section {
    height: 78vh;
    min-height: 500px;
    background-image: url(../img/img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 83px;
    gap: 19px;
  }

  &-title {
    font-weight: 700;
    font-size: 82px;
    line-height: 82px;
    color: $white;

    @media(max-width: 1024px){
      font-size: 72px;
      line-height: 72px;
    }
    @media(max-width: 576px){
      font-size: 48px;
      line-height: 48px;
    }
  }

  &-subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: $primary;
    text-align: center;

    @media(max-width: 1024px){
      font-size: 24px;
      line-height: 24px;
    }
    @media(max-width: 576px){
      font-size: 18px;
    }
  }
  &-version {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: $gray-light;

    @media(max-width: 1024px){
      font-size: 14px;
      line-height: 14px;
    }
  }
}
.btn {
  font-weight: 700;
  background: $primary;
  border-radius: 40px;
  color: $white;
  transition: 0.3s ease;

  &:hover {
    color: $primary;
    background: $white;
  }
}
.download-block {
  position: absolute;
  bottom: -68px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.free-trial {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  text-align: center;

  color: $gray-light;
}
.download-btn {
  font-size: 21px;
  line-height: 22px;
  padding: 23px 61px;
  border: 2px solid $primary;
  min-width: 400px;

  @media(max-width: 576px){
    font-size: 18px;
    line-height: 20px;
    padding: 13px 29px;
    min-width: 300px;
  }
}


//testimonials

.testimonials {
  &-section {
    padding-top: 94px;
    padding-bottom: 54px;
    background-image: url(../img/testmonials-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  &-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    color: $white;
    margin-bottom: 84px;

    @media(max-width: 1024px){
      font-size: 42px;
      line-height: 44px;
    }

    @media(max-width: 576px){
      font-size: 36px;
      line-height: 48px;
      margin-bottom: 54px;
    }
  }

  &-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-item {
    width: 26%;
    margin-bottom: 112px;
    align-self: baseline;

    @media(max-width: 1024px){
      width: 46%;
      margin-bottom: 54px;
    }

    @media(max-width: 576px){
      width: 100%;
      margin-bottom: 41px;
    }
  }

  &-item__image {
    display: inherit;
    margin: 0 auto 33px;
  }

  &-item__text {
    font-family: $fontSecondary;
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $white;
  }

  &-text {
    font-family: $fontSecondary;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #a291a5;
    max-width: 900px;
    margin: 0 auto;
  }

  &-line {
    max-width: 70%;
    width: 100%;
    height: 2px;
    background: #645766;
    margin: 18px auto;
  }
}
