.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }
}
@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }
}

body {
  font-family: "Montserrat", sans-serif;
}
body.locked {
  overflow: hidden;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

nav {
  background-color: #000000;
  overflow: hidden;
}
@media (max-width: 1024px) {
  nav {
    background-color: #27262a;
  }
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 41px;
  padding-bottom: 41px;
}
@media (max-width: 1024px) {
  .navbar {
    flex-wrap: wrap;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media (max-width: 1024px) {
  .logo {
    order: 1;
  }
}
.logo a {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 16px;
  text-transform: uppercase;
  color: #8d81ac;
  position: relative;
  padding-left: 50px;
  transition: 0.3s ease;
}
.logo a::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 42px;
  height: 42px;
  background-image: url(../img/logo-primary.png);
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.3s ease;
}
.logo a:hover {
  color: #ffffff;
}
.logo a:hover::before {
  background-image: url(../img/logo-white.png);
}
@media (max-width: 576px) {
  .logo span {
    display: none;
  }
}

.menu {
  display: flex;
  margin: 0 48px 0 auto;
  gap: 48px;
}
@media (max-width: 1024px) {
  .menu {
    order: 3;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    justify-content: center;
  }
}
.menu__item-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: #8d81ac;
  transition: 0.3s ease;
}
.menu__item-link:hover {
  color: #ffffff;
}

.buy-btn {
  font-size: 16px;
  line-height: 17px;
  padding: 11px 20px;
}
@media (max-width: 1024px) {
  .buy-btn {
    order: 2;
  }
}

.burger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .menu {
    position: fixed;
    background: #333333;
    display: none;
    gap: 0;
    padding: 0;
  }
  .menu.active {
    display: flex;
    left: 4%;
    right: 4%;
    top: 87px;
    width: 92%;
    flex-direction: column;
    z-index: 22;
    animation: fade 0.1s linear;
  }
  .menu__item {
    border-bottom: 3px solid #3b3b3b;
    padding: 29px 40px;
    position: relative;
  }
  .menu__item:before {
    content: "";
    height: 0px;
    transition: 0.3s ease;
  }
  .menu__item.active .menu__item-link, .menu__item:active .menu__item-link, .menu__item:focus .menu__item-link, .menu__item:hover .menu__item-link {
    color: #8d81ac;
  }
  .menu__item.active .menu__item-link:before, .menu__item:active .menu__item-link:before, .menu__item:focus .menu__item-link:before, .menu__item:hover .menu__item-link:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 53px;
    left: 3px;
    top: 17px;
    background: #8d81ac;
  }
  .menu__item-link {
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #ffffff;
  }
  .burger {
    display: block;
    position: relative;
    height: 21px;
    width: 26px;
    z-index: 102;
    cursor: pointer;
    order: 3;
  }
  .burger.active-burger:before {
    background: #ffffff;
    transform: rotate(45deg);
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
    width: 100%;
  }
  .burger.active-burger:after {
    background: #ffffff;
    transform: rotate(-45deg);
    bottom: 10px;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }
  .burger.active-burger span {
    transform: scale(0);
  }
  .burger:before, .burger:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background: #ffffff;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    border-radius: 5px;
  }
  .burger:before {
    top: 0;
    width: 15px;
    right: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: #ffffff;
    height: 3px;
    transform: scale(1);
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    border-radius: 5px;
  }
  .menu__item-link {
    color: #ffffff;
  }
}
.hero-section {
  height: 78vh;
  min-height: 500px;
  background-image: url(../img/img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 83px;
  gap: 19px;
}
.hero-title {
  font-weight: 700;
  font-size: 82px;
  line-height: 82px;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .hero-title {
    font-size: 72px;
    line-height: 72px;
  }
}
@media (max-width: 576px) {
  .hero-title {
    font-size: 48px;
    line-height: 48px;
  }
}
.hero-subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #8d81ac;
  text-align: center;
}
@media (max-width: 1024px) {
  .hero-subtitle {
    font-size: 24px;
    line-height: 24px;
  }
}
@media (max-width: 576px) {
  .hero-subtitle {
    font-size: 18px;
  }
}
.hero-version {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #848e97;
}
@media (max-width: 1024px) {
  .hero-version {
    font-size: 14px;
    line-height: 14px;
  }
}

.btn {
  font-weight: 700;
  background: #8d81ac;
  border-radius: 40px;
  color: #ffffff;
  transition: 0.3s ease;
}
.btn:hover {
  color: #8d81ac;
  background: #ffffff;
}

.download-block {
  position: absolute;
  bottom: -68px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.free-trial {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: #848e97;
}

.download-btn {
  font-size: 21px;
  line-height: 22px;
  padding: 23px 61px;
  border: 2px solid #8d81ac;
  min-width: 400px;
}
@media (max-width: 576px) {
  .download-btn {
    font-size: 18px;
    line-height: 20px;
    padding: 13px 29px;
    min-width: 300px;
  }
}

.testimonials-section {
  padding-top: 94px;
  padding-bottom: 54px;
  background-image: url(../img/testmonials-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.testimonials-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 84px;
}
@media (max-width: 1024px) {
  .testimonials-title {
    font-size: 42px;
    line-height: 44px;
  }
}
@media (max-width: 576px) {
  .testimonials-title {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 54px;
  }
}
.testimonials-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.testimonials-item {
  width: 26%;
  margin-bottom: 112px;
  align-self: baseline;
}
@media (max-width: 1024px) {
  .testimonials-item {
    width: 46%;
    margin-bottom: 54px;
  }
}
@media (max-width: 576px) {
  .testimonials-item {
    width: 100%;
    margin-bottom: 41px;
  }
}
.testimonials-item__image {
  display: inherit;
  margin: 0 auto 33px;
}
.testimonials-item__text {
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.testimonials-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #a291a5;
  max-width: 900px;
  margin: 0 auto;
}
.testimonials-line {
  max-width: 70%;
  width: 100%;
  height: 2px;
  background: #645766;
  margin: 18px auto;
}

/*# sourceMappingURL=style.css.map */
